<ion-header>
  <ion-toolbar>
    <ion-title class="centeredText"> Filter </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-item>
      <ion-row>
        <ion-col *ngFor="let color of colors">
          <ion-icon (click)="selectFilter(this.cardFilter.colors, color)" class="filterIcon"
            [ngClass]="{'activeFilterIcon' : cardFilter.colors.includes(color)}"
            [src]="'assets/icons/' + color + 'manasymbol.svg'"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <p>
        <ion-chip *ngFor="let type of types" (click)="selectFilter(this.cardFilter.types, type)"
          outline
          [ngClass]="{'activeChip' : cardFilter.types.includes(type)}">
          <ion-label>{{type | titlecase}}</ion-label>
        </ion-chip>
      </p>
    </ion-item>
    <ion-item>
      <p>
        <ion-chip *ngFor="let rarity of rarities" (click)="selectFilter(this.cardFilter.rarities, rarity)" outline
        [ngClass]="{'activeChip' : cardFilter.rarities.includes(rarity)}">
          <ion-icon name="radio-button-on" [class]="rarity"></ion-icon>
          <ion-label>{{rarity | titlecase}}</ion-label>
        </ion-chip>
      </p>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col *ngFor="let cmc of cmcs">
          <ion-icon (click)="selectFilter(this.cardFilter.cmcs, cmc)" class="filterIcon"
            [ngClass]="{'activeFilterIcon' : cardFilter.cmcs.includes(cmc)}"
            [src]="'assets/icons/' + cmc + 'manasymbol.svg'"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-button color="success" expand="block" (click)="applyFilter()">Apply</ion-button>
    <ion-button expand="block" (click)="resetFilter()">Reset Filter</ion-button>
  </ion-grid>
</ion-content>