<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="centeredText"> Deck List </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let collection of cardCollections">
    <ion-item lines="none" *ngIf="!plt.is('mobile')">
      <ion-chip color="danger" outline="true">
        <ion-label>{{collection.numberOfCards}} Cards</ion-label>
      </ion-chip>
      <ion-chip> <ion-label>{{collection.legality}} Legal</ion-label> </ion-chip>
      <ion-chip> <ion-label>~ 40 CHF</ion-label> </ion-chip>
      <ion-icon
        class="hoverItem marginTBRemoved"
        (click)="presentActionSheet(collection)"
        fill="clear"
        slot="end"
        size="large"
        color="dark"
        role="button"
        name="more"
      ></ion-icon>
    </ion-item>
    <ion-card-content>
      <ion-item lines="none">
        <ion-title> {{collection.name}} </ion-title>
        <ion-icon
          *ngIf="plt.is('mobile')"
          class="hoverItem marginTBRemoved"
          slot="end"
          size="large"
          color="dark"
          (click)="presentActionSheet(collection)"
          role="button"
          name="more"
        >
        </ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addCardCollection()"> <ion-icon name="add"></ion-icon> </ion-fab-button>
  </ion-fab>
</ion-content>
