<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="centeredText"> My Archive </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="searchstring"></ion-searchbar>
  <ion-grid *ngIf="!plt.is('mobile')">
    <ion-row>
      <ion-col *ngFor="let card of getFilteredCards()">
        <ion-card class="cardWithImageAndText">
          <ion-item lines="none">
            <ion-title class="centeredText">{{ card.count }}x</ion-title>
            <ion-icon (click)="presentActionSheet(card)" class="hoverItem marginTBRemoved" fill="clear" slot="end"
              size="large" color="dark" role="button" name="more"></ion-icon>
          </ion-item>
          <ion-card-content><img
              [src]="'http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=' + card.multiverseId + '&type=card'" />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list class="fullHeight" *ngIf="plt.is('mobile')">
    <div *ngIf="getFilteredCards().length > 0">
    <ion-item *ngFor="let card of getFilteredCards()">
      <ion-thumbnail slot="start">
        <img [src]="'http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=' + card.multiverseId + '&type=card'" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ card.name }}</h2>
        <p>{{ card.count}}x</p>
      </ion-label>
      <ion-icon (click)="presentActionSheet(card)" class="hoverItem marginTBRemoved" fill="clear" slot="end"
        size="large" color="dark" role="button" name="more"></ion-icon>
    </ion-item>
  </div>
  <div class="fullHeight textCenter" *ngIf="getFilteredCards().length == 0">
    <ion-label>No Card found</ion-label>
  </div>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="marginBottomButton" color="secondary" (click)="openFilter()">
      <ion-icon name="funnel"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="scannCard()"><ion-icon name="qr-scanner"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="addCardByName()"><ion-icon name="text"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="addCardsFile()"><ion-icon name="document"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>