// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.centeredText {
    text-align: center;
    padding: 0;
  }

  .hoverItem {
    cursor: pointer;
  }

  .marginTBRemoved {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  